{% extends "shop/base.html" %}

{% load i18n %}

{% block title %}{% endblock %}

{% block dash_active%}active{% endblock %}

{% block content %}
<div class="row">
	<div class="col-md  text-center">
		<h1>{% trans 'Change your password' %}</h1>
		<p>{% trans 'Use the form below to change your password.' %}</p>

		<form action="." method="post" class="login-form">
			{{ form.as_p }}
			<p><input type="submit" value="{% trans 'Change' %}"></p>
			{% csrf_token %}
		</form>
	</div>
</div> <!--/end of row -->
{% endblock %}
