{% extends "shop/base.html" %}

{% load i18n %}

{% block title %}{% trans 'Password change form' %}{% endblock %}

{% block dash_active%}active{% endblock %}

{% block content %}
<div class="row m-5">
	<div class="col-md  text-center ">
		<h1>{% trans 'Change your password' %}</h1>
		<p>{% trans 'Use the form below to change your password.' %}</p>
		<div class="d-flex justify-content-center">

			<form action="." method="post" class="reset-password-form">
				{{ form.as_p }}
				<p><input type="submit" value="{% trans 'Change' %}"></p>
				{% csrf_token %}
			</form>
		</div>

	</div>
</div>
<!--/end of row -->
{% endblock %}
