{% extends "shop/base.html" %}
{% load i18n %}
{% load static %}
{% load humanize %}


{% block title %}{% trans "Price list" %}{% endblock %}

{% block content %}
<div class="container">


  <div class="row m-4">
    <h2 class="text-center">{% trans 'Available Products' %}</h2>
  </div>
  <div class="row m-4">
    <table class="" style="width:50%;">
      <thead>
        <tr>
          <td class="td-center"><b>{% trans 'Category' %}</b></td>
          <td class="td-center"><b>{% trans 'Product' %}</b></td>
          <td class="td-center"><b>{% trans 'Price' %}</b></td>
        </tr>
      </thead>
      <tbody>
        {% for product in products %}
        <tr>
          <td class="td-center">{{ product.category }}</td>
          <td class="td-center">{{ product.name }}</td>
          <td class="td-center">{{ product.price|intcomma }}</td>
        </tr>

        {% endfor %}

      </tbody>

    </table>
  </div>
</div>
{% endblock %}
