{% load i18n %}
{% load static %}
{% load humanize %}

<div class="col-md-4 p-2">
  <a href="{{ product.get_absolute_url }}">
    <div class="card col-md-12 text-center">
      <img src="{% if product.image %}{{ product.image.url }}{% else %}{% static 'img/no_image.png' %}{% endif %}" class="card-img-top p-4" alt="{{ product.image_alt }}">
      <div class="card-body m-3 p-3">
        <h5 class="card-title">{{ product.name }}</h5>
        <h6 class="cart-subtitle text-muted">{% if product.stock == 0 %}<span class="unavailable">{% trans 'unavailable' %}</span>{% else %}{{ product.price|intcomma }} {% trans 'Toman' %}{% endif %}</h6>
        {% if product.weight %}<p>{{ product.weight }} {{ product.weight_measure }}</p>{% endif %}
        <p class="card-text">
          {{ product.description | truncatewords:15 }}
        </p>
      </div>
    </div>
  </a>
</div>
