{% extends "shop/base.html" %}
{% load i18n %}
{% load static %}
{% load humanize %}

{% block title %}{% if query %}{{ query }} | {% endif %}{% trans "Rahim Agha Store" %}{% endblock %}


{% block content %}
<div class="container">

  <div class="row text-center">
    {% if query %}
    <h1>{% trans 'Products containing' %} <b><i>{{ query }}</i></b></h1>
    <h3>
      {% with results.count as total_results %}
      {% blocktranslate %}
      Found {{ total_results }} {% endblocktranslate %}
      {% endwith %}
    </h3>
    {% for product in results %}
    {# we use product_card template to manage product cards #}
    {% include 'shop/product/product_card.html' %}
    {% empty %}
    <p>{% trans 'There are no results for your query.' %}</p>
    {% endfor %}
  </div>

  <div class="row text-center">
    <p><a class="btn btn-outline-secondary" href="{% url 'shop:product_search' %}">{% trans 'Search again' %}</a></p>
  </div>
  {% else %}
  <div class="row">
    <h2 class="text-center mt-3">{% trans 'Search for products' %}</h2>
  </div>
  <div class="row m-4 text-center">
    <form action="{% url 'shop:product_search'%}" method="get">
      {{ form.query }}
      <input type="submit" value="{% trans 'Search' %}">
    </form>
  </div>


  <!-- <label for="basic-url" class="form-label">Your vanity URL</label>
  <div class="input-group mb-3">
    <span class="input-group-text" id="basic-addon3">https://example.com/users/</span>
    <input type="text" class="form-control" id="basic-url" aria-describedby="basic-addon3">
  </div> -->

  {% endif %}

</div>

{% endblock %}

{% block footer-pages %}
{% endblock%}
