{% extends "shop/base.html" %}
{% load i18n %}

{% block title %}
{% trans "Checkout" %}
{% endblock %}

{% block content %}
<div class="container text-center">
  <h1 class="text-center">{% trans 'Checkout' %}</h1>
  <div class="row m-4 justify-content-center">
    <div class="order-info">
      <h3>{% trans "Your order" %}</h3>
      <ul>
        {% for item in cart %}
        <li>{{ item.product.name }} * {{ item.quantity }} :
          <span>{{ item.total_price|floatformat:0 }} {% trans 'Toman' %} </span>
        </li>
        {% endfor %}
        <br />
        <li>
          {% trans 'Shipping'%} :
          {% if cart.get_total_price >= 400000 %}
          {% trans 'Free' %}
          {% else %}
          25000 {% trans 'Toman' %}
          {% endif %}
          {% if cart.coupon %}
        </li>
        <li>
          {% blocktrans with code=cart.coupon.code discount=cart.coupon.discount %}
          "{{ code }}" ({{ discount }}% off)
          {% endblocktrans %}
          <span class="neg">- {{ cart.get_discount|floatformat:0 }} {% trans 'Toman' %} </span>
        </li>
        {% endif %}
      </ul>
      <p>{% trans "Total" %}: {{ cart.get_total_price_after_discount|floatformat:0 }} {% trans 'Toman' %} </p>
    </div>
  </div>

  <div class="d-inline-flex">

    <form method="post" class="">
      {{ form.as_p }}
      <p><input type="submit" value="{% trans 'Place order' %}"></p>
      {% csrf_token %}
    </form>

  </div>
  <p class="text-muted p-1">{% trans 'Into payment port' %}</p>

</div>
{% endblock %}
