{% extends "shop/base.html" %}
{% load i18n %}
{% load static %}

{% block title %}404 | {% trans "Rahim Agha Store" %}{% endblock %}

{% block content %}
<div class="container">
    <div class="row mt-4 text-center">
        <h1 class="">{% trans '404 Error' %}</h1>
    </div> <!-- / end of row-->

    <div class="row mt-5 pt-5 text-center">
        <div class="col-md-12 ">
            <h2 class="text-muted center">{% trans '404 Error: There is nothing here!' %}</h2>
            <a href="{% url 'shop:home' %}" class="btn btn-danger my-5 ">{% trans 'HOME' %}</a>
        </div>
    </div>
</div>

{% endblock %}
