{% extends "shop/base.html" %}
{% load i18n %}
{% load static %}

{% block title %}success payment | {% trans "Rahim Agha Store" %}{% endblock %}

{% block content %}
<div class="container">
    <div class="row mt-4 text-center">
        <h1 class="">{% trans 'Failed payment' %}</h1>
    </div> <!-- / end of row-->

    <div class="row mt-5 pt-5 text-center">
        <div class="col-md-12 ">
            <h2 class="text-muted center">{% trans 'Your payment is failed!' %}</h2>

            <p> {{ request.session.order_id }}</p>

            {% if message %}
            <p class="text-warning h3 p-3">{{ message }}</p>
            {% endif %}
            <p class="text-muted">{% trans 'Please try again a few minutes later!' %}</p>
            <a href="{% url 'shop:home' %}" class="btn btn-danger my-5 ">{% trans 'Home' %}</a>
            <a href="{% url 'cart:cart_detail' %}" class="btn btn-danger my-5 ">{% trans 'Your shopping cart' %}</a>
        </div>
    </div>
</div>

{% endblock %}
