{% extends "shop/base.html" %}
{% load i18n %}
{% load static %}

{% block title %}{% trans 'Failed payment' %} | {% trans "Rahim Agha Store" %}{% endblock %}

{% block content %}
<div class="container">
    <div class="row mt-4 text-center">
        <h1 class="">{% trans 'Failed payment' %}</h1>
    </div> <!-- / end of row-->

    <div class="row mt-5 pt-5 text-center">
        <div class="col-md-12 ">
            <h2 class="text-muted center">{% trans 'Your payment is failed!' %}</h2>

            <p class="m-2">{% trans 'Order No' %} {{ request.session.order_id }}</p>

            {% if message %}
            <p class="text-muted h4 p-3">{{ message }}</p>
            {% endif %}
            <p class="text-danger h3">{% trans 'Yor order is registerd and available in your dashboard. Please try to re-pay this order from your dashboard' %}</p>
            <a href="{% url 'shop:home' %}" class="btn btn-danger my-5 ">{% trans 'Home' %}</a>
            <a href="{% url 'dashboard' %}" class="btn btn-danger my-5 ">{% trans 'My orders' %}</a>
        </div>
    </div>
</div>

{% endblock %}
