{% extends "shop/base.html" %}
{% load i18n %}
{% load static %}

{% block content %}

<div class="container">
  <div class="row m-3 text-center">
    <h3 class="">{{ page.title}}</h3>
    {% if page.image %}
    <div class="m-2"><img src="{{ page.image.url }}" alt="{{ page.image_alt }}" width="40%" height="auto"></div>
    {% endif %}
    <p>{{ page.text }}</p>

  </div>  <!-- end of row-->
</div> <!-- end of container-->



{% endblock %}

{% block footer-pages %}
<ul class="list-unstyled">
  {% for footer_page in pages %}
  <li>
    <a href="{{ page.get_absolute_url }}" class="text-white">{{ footer_page.title }}</a>
  </li>
  {% endfor %}
</ul>
{% endblock%}

{% block  tem_script %}
{% endblock %}
