{% extends "shop/base.html" %}

{% load i18n %}

{% load static %}

{% block title %}{% endblock %}

{% block dash_active%}active{% endblock %}

{% block content %}
<div class="row">
	<div class="col-md  text-center">
		<h1>{% trans 'Dashboard' %}</h1>

		<p class="lead">{% trans 'Welcome' %}&nbsp;<b>{{ request.user }}</b>!</p>
		{% if profile %}
		{% if profile.photo  %}
		<img src="{{ profile.photo.url }}" width="200px" height="auto" class="user-avatar" alt="user avatar" />
		{% else %}
		{% if request.user.profile.gender == "female" %}
		<img src="{% static 'sample_images/woman.svg' %}" width="200px" height="auto" class="user-avatar" alt="woman sample pic">
		{% else %}
		<img src="{% static 'sample_images/man.svg' %}" width="200px" height="auto" class="user-avatar" alt="man sample pic">
		{% endif %}
		{% endif %}

		<p class="my-3">{% trans 'Your profile details:' %}</p>
		<table class="table">
			<tbody>
				<tr>
					<td>{% trans 'First name:' %}</td>
					<td><b>{{ request.user.first_name }}</b></td>
				</tr>
				<tr>
					<td>{% trans 'Last name:' %}</td>
					<td><b>{{ request.user.last_name }}</b></td>
				</tr>
				<tr>
					<td>{% trans 'Email:' %}</td>
					<td><b>{{ request.user.email }}</b></td>
				</tr>
				<tr>
					<td>{% trans 'Gender:' %}</td>
					<td><b>{{ profile.gender }}</b></td>
				</tr>
				<tr>
					<td>{% trans 'Date of birth:' %}</td>
					<td><b>{{ profile.date_of_birth }}</b></td>
				</tr>
			</tbody>
		</table>


		<a class="btn btn-dark" href="{% url 'edit' %}">{% trans 'Edit profile' %}<i class="fa fa-edit icon-large"></i></a>
		<a href="{% url 'password_change' %}" class="btn btn-dark">{% trans 'Change  password' %}</a>

		<div class="m-5">
			<h2 class="bg-info rounded p-2">{% trans 'Your orders' %}</h2>
			{% if orders %}
			<table>
				<thead>
					<tr>
						<td>{% trans 'order No.' %}</td>
						<td>{% trans 'Date' %}</td>
						<td>{% trans 'Paid' %}</td>
						<td>{% trans 'Delivered' %}</td>
					</tr>
				</thead>
				<tbody>
					{% for order in orders %}
					<tr>
						<td><a href="{{ order.get_absolute_url }}">{{ order.id }}</a></td>
						<td>{{ order.created.date }}</td>
						<td>{% if order.paid %}&#10004{%else %}&#10008{% endif %}</td>
						<td>{% if order.delivered %}&#10004{%else %}&#10008{% endif %}</td>
					</tr>

					{% endfor %}

				</tbody>
			</table>

			{% endif %}

		</div>

		<div class="rounded border border-warning p-5 my-5">
			<p><b>{% trans 'Warning:' %}</b> {% trans 'If you remove your profile user, every action and data you have entered will be deleted permanently.' %}<br />
				<b>{% trans 'THIS ACCTION IS NOT UNDOABLE!' %}</b>
			</p>
			<a class="btn btn-danger" href="#">{% trans 'Romove Account Completely!' %}</a>
		</div>
		{% else %}
		<div class="bg-warning rounded m-3 p-2">
			<p>{% trans 'You have to complete your profile first:' %}</p>
			<a class="btn btn-dark" href="{% url 'add' %}">{% trans 'Add profile' %}<i class="fa fa-edit icon-large"></i></a>
		</div>
		{% endif %}
	</div>
</div>
<!--/end of row -->
{% endblock %}
