{% extends "shop/base.html" %}

{% load i18n %}

{% load static %}

{% block title %}{% endblock %}

{% block dash_active%}active{% endblock %}

{% block content %}
<div class="row m-3">
	<div class="col-md  text-center">
		<h1>{% trans 'Profile' %}</h1>

		<p class="lead"><b>{{ request.user }}</b> {% trans 'Welcome' %}&nbsp;!</p>
		{% if profile %}
		{% if profile.photo  %}
		<img src="{{ profile.photo.url }}" width="200px" height="auto" class="user-avatar" alt="user avatar" />
		{% else %}
		{% if request.user.profile.gender == "female" %}
		<img src="{% static 'sample_images/woman.svg' %}" width="200px" height="auto" class="user-avatar" alt="woman sample pic">
		{% else %}
		<img src="{% static 'sample_images/man.svg' %}" width="200px" height="auto" class="user-avatar" alt="man sample pic">
		{% endif %}
		{% endif %}

		<p class="my-3">{% trans 'Your profile details:' %}</p>
		<div class="d-flex justify-content-center">
			<table class="table table-stripped" style="width:50%;">
				<tbody>
					<tr>
						<td>{% trans 'First name:' %}</td>
						<td><b>{{ request.user.first_name }}</b></td>
					</tr>
					<tr>
						<td>{% trans 'Last name:' %}</td>
						<td><b>{{ request.user.last_name }}</b></td>
					</tr>
					<tr>
						<td>{% trans 'Email:' %}</td>
						<td><b>{{ request.user.email }}</b></td>
					</tr>
					<tr>
						<td>{% trans 'Gender:' %}</td>
						<td><b>{{ profile.gender }}</b></td>
					</tr>
					<tr>
						<td>{% trans 'Date of birth:' %}</td>
						<td><b>{{ profile.date_of_birth }}</b></td>
					</tr>
				</tbody>
			</table>
		</div>


		<a class="btn btn-dark" href="{% url 'edit' %}">{% trans 'Edit profile' %}<i class="fa fa-edit icon-large"></i></a>
		<a href="{% url 'password_change' %}" class="btn btn-dark">{% trans 'Change  password' %}</a>
	</div>
</div>
<div class="row m-3">
	<div class="col-md  text-center">
		<h2 class="bg-secondary rounded p-2 text-light">{% trans 'Your addresses' %}</h2>
		{% for address in addresses %}
		<ul>
			<li>
			{{ address.city }} - {{ address.address }} - {{ address.postal_code }}
			</li>
		</ul>
		{% empty %}
		{% trans 'You have not add any address yet!' %}
		{% endfor %}
	</div>
</div>
<div class="row m-3">
	<div class="col-md  text-center">
		<div class="m-5">
			<ul>
				<li class="text-danger h5 m-4">{% trans 'You have 24 hours to pay the order and after that the order will be remove.' %}</li>
				<li class="fw-6 m-3">{% trans 'If you have unsuccessfull payment you will see those orders in this list, you can ignore them and they will be remove automatiaclly.' %}</li>
				<li class="fw-6 m-3">{% trans 'If you click on orders number you can see your order details.' %}</li>

			</ul>
			<h2 class="bg-secondary rounded p-2 text-light">{% trans 'Your orders' %}</h2>
			{% if orders %}
			<table>
				<thead>
					<tr>
						<td>{% trans 'order No.' %}</td>
						<td>{% trans 'Date' %}</td>
						<td>{% trans 'Paid' %}</td>
						<td>{% trans 'Delivered' %}</td>
					</tr>
				</thead>
				<tbody>
					{% for order in orders %}
					<tr>
						<td class="fs-5 text-decoration-underline"><a href="{{ order.get_absolute_url }}">{{ order.id }}</a></td>
						<td>{{ order.created.date }}</td>
						<td>{% if order.paid %}&#10004{%else %}&#10008<a class="btn btn-outline-success m-3" href="{% url 'orders:order_repay' order.id %}">{% trans 'Repay' %}</a>{% endif %}</td>
						<td>{% if order.delivered %}&#10004{%else %}&#10008{% endif %}</td>
					</tr>

					{% endfor %}

				</tbody>
			</table>

			{% endif %}

		</div>

		<div class="rounded border border-warning p-5 my-5">
			<p><b>{% trans 'Warning:' %}</b> {% trans 'If you remove your profile user, every action and data you have entered will be deleted permanently.' %}<br />
				<b>{% trans 'THIS ACCTION IS NOT UNDOABLE!' %}</b>
			</p>
			<a class="btn btn-danger disabled" href="#">{% trans 'Romove Account Completely!' %}</a>
		</div>
		{% else %}
		<div class="bg-warning rounded m-3 p-2">
			<p>{% trans 'You have to complete your profile first:' %}</p>
			<a class="btn btn-dark" href="{% url 'add' %}">{% trans 'Add profile' %}<i class="fa fa-edit icon-large"></i></a>
		</div>
		{% endif %}
	</div>
</div>
<!--/end of row -->
{% endblock %}
