{% load i18n %}
{% load static %}
<!DOCTYPE html>
<html dir="rtl">

<head>
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <!-- favicon -->
  <link rel="apple-touch-icon" sizes="57x57" href="{% static 'icon/apple-icon-57x57.png' %}">
  <link rel="apple-touch-icon" sizes="60x60" href="{% static 'icon/apple-icon-60x60.png' %}">
  <link rel="apple-touch-icon" sizes="72x72" href="{% static 'icon/apple-icon-72x72.png' %}">
  <link rel="apple-touch-icon" sizes="76x76" href="{% static 'icon/apple-icon-76x76.png' %}">
  <link rel="apple-touch-icon" sizes="114x114" href="{% static 'icon/apple-icon-114x114.png' %}">
  <link rel="apple-touch-icon" sizes="120x120" href="{% static 'icon/apple-icon-120x120.png' %}">
  <link rel="apple-touch-icon" sizes="144x144" href="{% static 'icon/apple-icon-144x144.png' %}">
  <link rel="apple-touch-icon" sizes="152x152" href="{% static 'icon/apple-icon-152x152.png' %}">
  <link rel="apple-touch-icon" sizes="180x180" href="{% static 'icon/apple-icon-180x180.png' %}">
  <link rel="icon" type="image/png" sizes="192x192" href="{% static 'icon/android-icon-192x192.png' %}">
  <link rel="icon" type="image/png" sizes="32x32" href="{% static 'icon/favicon-32x32.png' %}">
  <link rel="icon" type="image/png" sizes="96x96" href="{% static 'icon/favicon-96x96.png' %}">
  <link rel="icon" type="image/png" sizes="16x16" href="{% static 'icon/favicon-16x16.png' %}">
  <link rel="manifest" href="{% static 'icon/manifest.json' %}">
  <meta name="msapplication-TileColor" content="#ffffff">
  <meta name="msapplication-TileImage" content="{% static 'icon/ms-icon-144x144.png' %}">
  <meta name="theme-color" content="#ffffff">

  <script defer data-domain="rahimagha.ir" src="https://plausible.io/js/plausible.js"></script>

  <!-- Global site tag (gtag.js) - Google Analytics -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=G-Y98JBDYN4X"></script>
  <script>
    window.dataLayer = window.dataLayer || [];

    function gtag() {
      dataLayer.push(arguments);
    }
    gtag('js', new Date());

    gtag('config', 'G-Y98JBDYN4X');
  </script>

  <title>{% block title %}{% endblock %}</title>
  <!-- Bootsrap rtl link -->
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.rtl.min.css" integrity="sha384-4dNpRvNX0c/TdYEbYup8qbjvjaMrgUPh+g4I03CnNtANuv+VAvPL6LqdwzZKV38G" crossorigin="anonymous">
  {% comment %}
  <!-- Owl caroucel css files -->
  <link rel="stylesheet" href="{% static 'css/owl.carousel.min.css' %}">
  <link rel="stylesheet" href="{% static 'css/owl.theme.default.min.css' %}">
  {% endcomment %}
  <link href="{% static 'css/base.css' %}" rel="stylesheet">
</head>

<body>
  <header>
    <div id="header">
      <div class="text-center">
        <a href="{% url 'shop:home' %}" class="">
          <img class="logo-img" width="180px" height="auto" src="{% static 'img/logotype.png' %}" alt="rahim agha logotye" /></a>
        {% if request.user.is_authenticated %}
        <a href="{% url 'logout' %}" style="position: absolute; top:20px; left:20px; ">{% trans 'Logout' %}</a>
        <a href="{% url 'dashboard' %}" style="position: absolute; top:20px; left:90px; "><b>{{ request.user }}</b></a>
        {% else %}
        <a href="{% url 'login' %}" style="position: absolute; top:20px; left:20px; ">{% trans 'Login' %}</a>
        <a href="{% url 'register' %}" style="position: absolute; top:20px; left:90px; ">{% trans 'Register' %}</a>
        {% endif %}

      </div>
      <div class="row">
        <div class="text-center ">
          <a href="/" class="">
            <img class="logo-img" width="180px" height="auto" src="{% static 'img/rahimagha_logo.png' %}" alt="rahim agha images" />
          </a>
        </div>
      </div>
      {% get_current_language as LANGUAGE_CODE %}
      {% get_available_languages as LANGUAGES %}
      {% get_language_info_list for LANGUAGES as languages %}
      {% comment %}
      <div class="languages">
        <p>{% trans "Language" %}:</p>
        <ul class="languages">
          {% for language in languages %}
          <li>
            <a href="/{{ language.code }}/" {% if language.code == LANGUAGE_CODE %} class="selected" {% endif %}>
              {{ language.name_local }}
            </a>
          </li>
          {% endfor %}
        </ul>
      </div>
      {% endcomment %}
    </div>
    {% if request.user.is_superuser %}
    <div class="bg-dark text-center">
      <a href="{% url 'admin:index' %}" class="nav-link">{% trans 'Admin' %}</a>
    </div>
    {%endif %}
    <div class="row">
      <div id="subheader">
        <div class="cart">
          {% with total_items=cart|length %}
          {% if total_items > 0 %}
          <img src="{% static 'img/cart25.png'%}" />
          <a href="{% url 'cart:cart_detail'%}">
            {{ total_items }} {% trans 'item' %}, {{ cart.get_total_price }} {% trans 'Toman' %}
            {% comment %}
            {% blocktrans with total=cart.get_total_price count items=total_items %}
            {{ total_items }} item, {{ cart.get_total_price }} {% trans 'Toman' %}
            {% plural %}
            {{ items }} items, {{ total }} {% trans 'Toman' %}
            {% endblocktrans %}
            {% endcomment %}
          </a>
          {% else %}
          {% trans "Your cart is empty." %}
          {% endif %}
          {% endwith %}
        </div>
      </div>
    </div>
    {% if messages %}
    <ul class="messages">
      {% for message in messages %}
      <li class="{{ message.tags }}">
        {{ message|safe }}
        <a href="#" class="close">x</a>
      </li>
      {% endfor %}
    </ul>
    {% endif %}
  </header>

  <main>
    <div id="content">
      {% block content %}
      {% endblock %}
    </div>
    <div class="text-center surprise-red p-3">
      <p>{% trans 'For a new order you could go to' %} <a href="https://instagram.com/rahimagha.ir" target="_blank"> <img src="{% static 'img/insta-logo.png' %}" width="40px" height="auto" alt="instagram logo"></a> </p>
      <p>{% trans 'Or if you prefer phon you could call me at' %} <a class="telephone" href="tel:09045714700">9045714700</a> </p>

    </div>
  </main>
  <footer id="footer" class=" text-white text-center">
    <!-- Grid container -->
    <div class="container p-4">
      <!--Grid row-->
      <div class="row">
        <!--Grid column-->
        <div class="col-lg-6 col-md-12 mb-4 mb-md-0">
          <h5 class="text-uppercase">{% trans 'Online shop footer' %}</h5>

          <p>
            {% trans 'This Rahim agha shop present every retail item that we said Baghali' %}
          </p>
        </div>
        <!--Grid column-->

        <!--Grid column-->
        <div class="col-lg-6 col-md-6 mb-4 mb-md-0">
          <h5 class="text-uppercase">{% trans 'Important links'%}</h5>
          {% block footer-pages %}
          {% endblock %}
        </div>
        <!--Grid column-->
      </div>
      <!--Grid row-->
    </div>
    <!-- Grid container -->

    <!-- Copyright -->
    <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">
      © 2021 {% trans 'Copyright' %}:
      <a class="text-white" href="https://rahimagha.ir/">{% trans 'Rahim Agha and Khanevadeh' %}</a>
    </div>
    <!-- Copyright -->
  </footer>

  <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js" integrity="sha384-q2kxQ16AaE6UbzuKqyBE9/u/KzioAlnx2maXQHiDX9d4/zp8Ok3f+M7DPm+Ib6IU" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.min.js" integrity="sha384-pQQkAEnwaBkjpqZ8RU1fF1AKtTcHJwFl3pblpTlHXybJjHpMYo79HY3hIi4NKxyj" crossorigin="anonymous"></script>
  <!-- Owl Caroucel js -->
  <script src="{% static 'js/jquery.min.js' %}"></script>
  {% comment %}
  <script src="{% static 'js/owl.carousel.min.js' %}"></script>
  {% endcomment %}
  {% block tem_script %}
  {% endblock %}
  {% comment %}
  <script>
    $(document).ready(function() {
      $("#owl-demo").owlCarousel({
        navigation: true, // Show next and prev buttons
        items: 1,
        slideSpeed: 300,
        paginationSpeed: 400,
        singleItem: true

        // "singleItem:true" is a shortcut for:
        // items : 1,
        // itemsDesktop : false,
        // itemsDesktopSmall : false,
        // itemsTablet: false,
        // itemsMobile : false

      });

    });
  </script>
  {% endcomment %}
</body>

</html>
